[submodule "testprojects/healthchecks"]
	path = testprojects/healthchecks
	url = https://github.com/dailydevops/healthchecks.git
[submodule "testprojects/hosting.winforms"]
	path = testprojects/hosting.winforms
	url = https://github.com/dailydevops/extensions.hosting.winforms.git
