on:
  workflow_call:
    inputs:
      disableCodeFormat:
        required: false
        type: boolean
        default: false
      disableCoverageUpload:
        required: false
        type: boolean
        default: false
      disableDependaMerge:
        required: false
        type: boolean
        default: false
      disableTestsOnLinux:
        required: false
        type: boolean
        default: false
      disableTestsOnMacOs:
        required: false
        type: boolean
        default: true
      disableTestsOnWindows:
        required: false
        type: boolean
        default: true
      dotnetLogging:
        required: false
        type: string
        default: minimal
      dotnetVersion:
        required: false
        type: string
        default: |
          8.x
          9.x
      enableCleanUpDockerDocker:
        required: false
        type: boolean
        default: false
      failFast:
        required: false
        type: boolean
        default: true
      runsOnBuild:
        required: false
        type: string
        default: 'ubuntu-latest'
      solution:
        required: true
        type: string
      imageWindows:
        required: false
        type: string
        default: windows-latest
      imageLinux:
        required: false
        type: string
        default: ubuntu-latest
      imageMacos:
        required: false
        type: string
        default: macos-latest
    secrets:
      FETCH_TOKEN:
        required: false

concurrency:
  group: ${{ github.workflow_ref }}@${{ github.ref }}-build-matrix-${{ inputs.solution }}
  cancel-in-progress: true

env:
  DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true

permissions:
  actions: read
  contents: read
  pull-requests: write
  security-events: write

jobs:
  commitlinter:
    name: Commit Linter
    uses: ./.github/workflows/step-node-commitlint.yml
    secrets: inherit

  version:
    name: Version Management
    uses: ./.github/workflows/step-dotnet-version.yml
    with:
      dotnet-version: ${{ inputs.dotnetVersion || '8.x' }}
    secrets: inherit

  format:
    name: Code Formatting
    if: ${{ !inputs.disableCodeFormat }}
    uses: ./.github/workflows/step-dotnet-format.yml
    needs:
      - commitlinter
    with:
      dotnet-logging: ${{ inputs.dotnetLogging || 'minimal' }}
      dotnet-version: ${{ inputs.dotnetVersion || '8.x' }}
      runs-on: ${{ inputs.runsOnBuild || 'ubuntu-latest' }}
    secrets: inherit

  tests:
    name: Run Tests
    uses: ./.github/workflows/step-dotnet-tests.yml
    needs:
      - commitlinter
      - version
    strategy:
      fail-fast: ${{ inputs.failFast }}
      matrix:
        os:
          - ${{ inputs.imageWindows || 'windows-latest' }}
          - ${{ inputs.imageLinux || 'ubuntu-latest' }}
          - ${{ inputs.imageMacos || 'macos-latest' }}
        exclude:
          - os: ${{ inputs.disableTestsOnMacOs && (inputs.imageMacos || 'macos-latest') }}
          - os: ${{ inputs.disableTestsOnLinux && (inputs.imageLinux || 'ubuntu-latest') }}
          - os: ${{ inputs.disableTestsOnWindows && (inputs.imageWindows || 'windows-latest') }}
    with:
      disableCoverageUpload: ${{ inputs.disableCoverageUpload || false }}
      dotnet-logging: ${{ inputs.dotnetLogging || 'minimal' }}
      dotnet-version: ${{ inputs.dotnetVersion || '8.x' }}
      enableCleanUpDockerDocker: ${{ inputs.enableCleanUpDockerDocker || false }}
      runs-on: ${{ matrix.os }}
      solution: ${{ inputs.solution }}
      solution-version: ${{ needs.version.outputs.solution-version }}
    secrets: inherit

  build:
    name: Build Solution
    if: ${{ !cancelled() && !failure() }}
    uses: ./.github/workflows/step-dotnet-build.yml
    needs:
      - tests
      - format
      - version
    with:
      dotnet-logging: ${{ inputs.dotnetLogging || 'minimal' }}
      dotnet-version: ${{ inputs.dotnetVersion || '8.x' }}
      runs-on: ${{ inputs.runsOnBuild || 'ubuntu-latest' }}
      solution: ${{ inputs.solution }}
      solution-version: ${{ needs.version.outputs.solution-version }}
    secrets: inherit