on:
  workflow_call:
    inputs:
      disableCodeFormat:
        required: false
        type: boolean
        default: false
      disableCoverageUpload:
        required: false
        type: boolean
        default: false
      disableDependaMerge:
        required: false
        type: boolean
        default: false
      dotnetLogging:
        required: false
        type: string
        default: minimal
      dotnetVersion:
        required: false
        type: string
        default: |
          8.x
          9.x
      enableCleanUpDockerDocker:
        required: false
        type: boolean
        default: false
      runsOnBuild:
        required: false
        type: string
        default: 'ubuntu-latest'
      solution:
        required: true
        type: string
      clearDevCerts:
        required: false
        type: boolean
        default: false
    secrets:
      FETCH_TOKEN:
        required: false

concurrency:
  group: ${{ github.workflow_ref }}@${{ github.ref }}-build-single-${{ inputs.solution }}
  cancel-in-progress: true

env:
  DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true

permissions:
  actions: read
  contents: read
  pull-requests: write
  security-events: write

jobs:
  commitlinter:
    name: Commit Linter
    uses: ./.github/workflows/step-node-commitlint.yml
    secrets: inherit

  version:
    name: Version Management
    uses: ./.github/workflows/step-dotnet-version.yml
    with:
      dotnet-version: ${{ inputs.dotnetVersion || '8.x' }}
    secrets: inherit

  format:
    name: Code Formatting
    if: ${{ !inputs.disableCodeFormat }}
    uses: ./.github/workflows/step-dotnet-format.yml
    needs:
      - commitlinter
    with:
      dotnet-logging: ${{ inputs.dotnetLogging || 'minimal' }}
      dotnet-version: ${{ inputs.dotnetVersion || '8.x' }}
      runs-on: ${{ inputs.runsOnBuild || 'ubuntu-latest' }}
    secrets: inherit

  tests:
    name: Run Tests
    uses: ./.github/workflows/step-dotnet-tests.yml
    needs:
      - commitlinter
      - version
    with:
      clear-dev-certs: ${{ inputs.clearDevCerts || false }}
      disableCoverageUpload: ${{ inputs.disableCoverageUpload || false }}
      dotnet-logging: ${{ inputs.dotnetLogging || 'minimal' }}
      dotnet-version: ${{ inputs.dotnetVersion || '8.x' }}
      enableCleanUpDockerDocker: ${{ inputs.enableCleanUpDockerDocker || false }}
      runs-on: ${{ inputs.runsOnBuild || 'ubuntu-latest' }}
      solution: ${{ inputs.solution }}
      solution-version: ${{ needs.version.outputs.solution-version }}
    secrets: inherit

  build:
    name: Build Solution
    if: ${{ !cancelled() && !failure() }}
    uses: ./.github/workflows/step-dotnet-build.yml
    needs:
      - tests
      - format
      - version
    with:
      dotnet-logging: ${{ inputs.dotnetLogging || 'minimal' }}
      dotnet-version: ${{ inputs.dotnetVersion || '8.x' }}
      runs-on: ${{ inputs.runsOnBuild || 'ubuntu-latest' }}
      solution: ${{ inputs.solution }}
      solution-version: ${{ needs.version.outputs.solution-version }}
    secrets: inherit