name: PR

on:
  pull_request:
    branches: [ main ]

jobs:
  all:
    name: Build & Tests
    uses: ./.github/workflows/cicd-dotnet.yml
    with:
      enableCleanUpDockerDocker: true
      enableSonarQube: false
      disableCodeQL: true
      dotnet-version: ${{ vars.NE_DOTNET_TARGETFRAMEWORKS }}
      dotnet-quality: ${{ vars.NE_DOTNET_QUALITY }}
      solution: ./testprojects/HealthChecks.sln
      retry-max-attempts: 3
    secrets: inherit
