on:
  workflow_call:
    secrets:
      DEPENDABOT:
        required: true

permissions:
  contents: read

jobs:
  dependabot:
    name: Dependabot Auto Merge
    runs-on: ubuntu-latest

    steps:
      - name: Dependabot Auto Merge
        uses: dailydevops/dependamerge-action@dbce555e5da2b869ee079ec47e0ebc3c55545ac8 # v1.3.5
        with:
          token: ${{ secrets.DEPENDABOT }}
          command: squash
          handle-submodule: true
          target: minor
