on:
  workflow_call:
    inputs:
      script-path:
        required: true
        type: string
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
    secrets:
      FETCH_TOKEN:
        required: false
    outputs:
      matrix:
        description: 'The collected matrix from the script'
        value: ${{ jobs.collect-matrix.outputs.matrix }}

permissions:
  contents: read

jobs:
  collect-matrix:
    name: Collect Dynamic Matrix
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}

    outputs:
      matrix: ${{ steps.collect.outputs.matrix }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ secrets.FETCH_TOKEN || github.token }}

    - name: Collect TestGroups
      id: collect
      shell: pwsh
      run: |
        $matrix = ${{ inputs.script-path }}
        echo $matrix
        echo "matrix=$matrix" >> $env:GITHUB_OUTPUT
