on:
  workflow_call:
    secrets:
      DEPENDABOT:
        required: true

permissions:
  contents: read

jobs:
  dependabot:
    name: Dependabot Auto Merge
    runs-on: ubuntu-latest

    steps:
      - name: Dependabot Auto Merge
        uses: dailydevops/dependamerge-action@9efe2dce321609c50284032f11a71e83e8f2ce68 # v1.2.159
        with:
          token: ${{ secrets.DEPENDABOT }}
          command: squash
          handle-submodule: true
          target: minor
