on:
  workflow_call:
    secrets:
      DEPENDABOT:
        required: true

permissions:
  contents: read

jobs:
  dependabot:
    name: Dependabot Auto Merge
    runs-on: ubuntu-latest

    steps:
      - name: Dependabot Auto Merge
        uses: dailydevops/dependamerge-action@8335158be19dffa939980664f29cfc6111bb46b2 # v1.3.4
        with:
          token: ${{ secrets.DEPENDABOT }}
          command: squash
          handle-submodule: true
          target: minor
