on:
  workflow_call:
    inputs:
      dotnet-version:
        required: false
        type: string
        default: 8.x
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
    secrets:
      FETCH_TOKEN:
        required: false
    outputs:
      solution-version:
        description: 'The repository version, based on git history'
        value: ${{ jobs.detect-version.outputs.version }}

permissions:
  contents: read

jobs:
  detect-version:
    name: Detect Version
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}

    outputs:
      version: ${{ steps.gitversion.outputs.fullSemVer }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ secrets.FETCH_TOKEN || github.token }}

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: ${{ inputs.dotnet-version }}
        global-json-file: ./global.json

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@d0139503a9321f76b4a417dfdc8aebcec24decdd # v4.2.0
      with:
        versionSpec: '6.x'

    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@d0139503a9321f76b4a417dfdc8aebcec24decdd # v4.2.0