on:
  workflow_call:
    inputs:
      enableCleanUpDockerDocker:
        required: false
        type: boolean
        default: false
      disableCoverageUpload:
        required: false
        type: boolean
        default: false
      dotnet-logging:
        required: false
        type: string
        default: quiet
      dotnet-version:
        required: false
        type: string
        default: 8.x
      execution-name:
        required: false
        type: string
        default: default
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      solution:
        required: true
        type: string
      solution-version:
        required: true
        type: string
      test-filter:
        required: false
        type: string
        default: ''
    secrets:
      CODECOV_TOKEN:
        required: false

jobs:
  testing:
    name: Testing .NET solution
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}
    env:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ secrets.FETCH_TOKEN || github.token }}

    # Our modules occupy too much disk space. The GitHub-hosted runners ran into the
    # error: "no space left on device." The pulled images are not cleaned up between
    # the test runs. One obvious approach is splitting the tests and running them on
    # multiple runners. However, we need to keep in mind that running too many
    # simultaneous builds has an impact on others as well. We observed that scheduled
    # Dependabot builds blocked others in the Testcontainers organization.
    - name: Free Disk Space - Docker Images
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      if: ${{ inputs.enableCleanUpDockerDocker == true && runner.os == 'Linux' }}
      with:
        android: true
        haskell: true
        dotnet: false
        large-packages: false
        tool-cache: false
        swap-storage: false
        docker-images: true

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: ${{ inputs.dotnet-version }}
        global-json-file: ./global.json

    - name: Restore dependencies
      run: dotnet restore ${{ inputs.solution }} -v ${{ inputs.dotnet-logging }}

    - name: Build
      run: dotnet build ${{ inputs.solution }} -c Release -v ${{ inputs.dotnet-logging || 'minimal' }} --no-restore /p:GeneratePackageOnBuild=false /p:Version=${{ inputs.solution-version }}

    - name: Test
      id: test
      run: |
        dotnet test  --solution ${{ inputs.solution }}  -c Release  -v ${{ inputs.dotnet-logging || 'minimal' }}  --no-build --no-restore /p:Version=${{ inputs.solution-version }} --results-directory ./TestResults --ignore-exit-code 8 ${{ inputs.test-filter != '' && format('--treenode-filter "{0}"', inputs.test-filter) || ''}} -- --coverage --coverage-output-format cobertura

    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@ee0ae774f6d3afedcbd1683c1ab21b83670bdf8e # v5.5.1
      with:
        reports: '${{ github.workspace }}/TestResults/**/*.cobertura.xml'
        targetdir: '${{ github.workspace }}/coveragereports'
        reporttypes: 'Cobertura;MarkdownSummaryGithub'

    - name: Upload coverage into summary
      # Only on non windows runners
      if: ${{ runner.os != 'Windows' }}
      run: |
        cat $GITHUB_WORKSPACE/coveragereports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

    - name: Update codecov
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      if: ${{ env.codecov_token != '' && (success() || steps.test.conclusion == 'failure') }}
      with:
        token: ${{ env.codecov_token }}
        fail_ci_if_error: true
        files: ${{ github.workspace }}/coveragereports/Cobertura.xml

    - name: Upload ReportGenerator
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: always()
      with:
        name: reportgenerator-${{ inputs.runs-on || 'ubuntu-latest' }}-${{ hashFiles(inputs.solution) }}-${{ inputs.execution-name }}
        path: |
          ${{ github.workspace }}/coveragereports/**/*.*

    - name: Upload Coverage Reports
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: ${{ inputs.disableCoverageUpload == false }}
      with:
        name: coverage-${{ inputs.runs-on || 'ubuntu-latest' }}-${{ hashFiles(inputs.solution) }}-${{ inputs.execution-name }}
        path: |
          **/TestResults/**/*.opencover.xml
          **/TestResults/**/*.cobertura.xml

    - name: Upload log files
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: ${{ always() }}
      with:
        name: logs-${{ inputs.runs-on || 'ubuntu-latest' }}-${{ hashFiles(inputs.solution) }}-${{ inputs.execution-name }}
        if-no-files-found: ignore
        path: |
          **/TestResults/**/*.log
          **/*.sarif
