on:
  workflow_call:
    secrets:
      DEPENDABOT:
        required: true

permissions:
  contents: read

jobs:
  dependabot:
    name: Dependabot Auto Merge
    runs-on: ubuntu-latest

    steps:
      - name: Dependabot Auto Merge
        uses: dailydevops/dependamerge-action@2e94aedf3cdaab74a56e9c04333f02f5280b2647 # v1.2.185
        with:
          token: ${{ secrets.DEPENDABOT }}
          command: squash
          handle-submodule: true
          target: minor
