name: Run .NET Tests

on:
  workflow_call:
    secrets:
      NUGET_TOKEN:
        required: true

jobs:
  nuget:
    name: "Publish to NuGet.org"
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v3
      with:
        name: release-packages
        path: packages

    - name: Push packages to nuget.org/profiles/NetEvolve
      run: dotnet nuget push packages/**/*.nupkg -k ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json --skip-duplicate
