on:
  workflow_call:
    secrets:
      DEPENDABOT:
        required: true

permissions:
  contents: read

jobs:
  dependabot:
    name: Dependabot Auto Merge
    runs-on: ubuntu-latest

    steps:
      - name: Dependabot Auto Merge
        uses: dailydevops/dependamerge-action@1935be0943bcd5df0b4dbf3fb971678eaffb7d2a # v1.2.189
        with:
          token: ${{ secrets.DEPENDABOT }}
          command: squash
          handle-submodule: true
          target: minor
